<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aplikasi yang akan membantu anda untuk mencari restoran dengan makanan terbaik di sekitar anda.">
    <title>Laparz</title>
</head>

<body>
    <a href="#main-content" class="skip-link">Menuju ke konten</a>
    <header class="header">
        <button aria-label="Menu" id="menu-button" class="header-menu">☰</button>

        <div class="header-inner">
            <span class="title">Laparz</span>
        </div>

        <nav id="drawer">
            <ul>
                <span>Menu</span>
                <li><a href="#">Home</a></li>
                <li><a href="#/favorite">Favorite</a></li>
                <li><a href="https://www.dicoding.com/users/648933">About Us</a></li>
            </ul>
        </nav>
    </header>

    <main></main>

    <footer>
        <p>© 2020 Yusril Adriansyah Putra.</p>
    </footer>
</body>

</html>